:root {
    --pink: #F4CBDA;
    --pink-2: #FD76A7;
    --blue: rgb(184, 184, 245);
}
.jumbotron{
    border-radius: 0;
}
.pink{
    background-color: var(--pink);
}
.pink-2 {
    background-color: var(--pink-2);
}
.large-img {
    width: 99vw;
}
.navbar-brand {
    border-radius: 50%;
}

h2 {
    padding: 5px;
    outline: 2px solid var(--pink-2);
    box-shadow: 5px 5px 5px rgb(53, 53, 53);
    border-radius: 1em;
    text-align: center;
    margin-bottom: 12px;
}