:root {
    --pink: #F4CBDA;
    --pink-2: #FD76A7;
    --blue: rgb(184, 184, 245);
}

a {
    color: var(--blue);
}

.pink {
    background-color: var(--pink);
}
.pink:hover {
    background-color: var(--pink-2);
    transition: 1.3s;
    transform-origin: left top;
}
